version: 2.1

jobs:
  test_model:
    # ... твой текущий код тестов здесь ...

  build_docker:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.14
      - run:
          name: Build Docker Image
          command: |
            docker build -t loan-prediction-api:latest .

workflows:
  version: 2
  test-and-build:
    jobs:
      - test_model
      - build_docker:
          requires:
            - test_model # Сборка начнется ТОЛЬКО если 5 тестов прошли
            