version: 2.1

jobs:
  run_tests:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install --upgrade pip
            # Указываем точный путь, который мы увидели на скриншоте
            pip install -r Credit_Api/requirements.txt


      - run:
          name: Run Pytest
          command: |
            . venv/bin/activate
            pytest classification_model/tests

  build_docker:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.14
      - run:
          name: Build Docker Image
          command: |
            # Собираем образ. Точка в конце важна!
            docker build -t loan-prediction-api:latest .

workflows:
  version: 2
  test-and-build:
    jobs:
      - run_tests
      - build_docker:
          requires:
            - run_tests
