version: 2.1

jobs:
  # 1. Проверь, чтобы это имя было ровно таким
  run_tests:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: pip install -r requirements.txt
      - run:
          name: Run Pytest
          command: pytest classification_model/tests

  # 2. Второе задание для сборки Docker
  build_docker:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.14
      - run:
          name: Build Docker Image
          command: |
            docker build -t loan-prediction-api:latest .

workflows:
  test-and-build:
    jobs:
      # ИМЕНА ЗДЕСЬ ДОЛЖНЫ СОВПАДАТЬ С ИМЕНАМИ ВЫШЕ
      - run_tests
      - build_docker:
          requires:
            - run_tests # Сборка начнется только если тесты прошли