version: 2.1

jobs:
  run_tests:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      # Восстанавливаем кэш библиотек
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "Credit_Api/requirements.txt" }}
            - v1-dependencies-
      - run:
          name: Install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install --upgrade pip
            # Установка из твоего файла
            pip install -r Credit_Api/requirements.txt
            # Гарантируем наличие pytest для тестов
            pip install pytest
      # Сохраняем библиотеки в кэш
      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "Credit_Api/requirements.txt" }}
      - run:
          name: Run Pytest
          command: |
            . venv/bin/activate
            # Запуск тестов через модуль python
            python3 -m pytest classification_model/tests -v --log-cli-level=INFO

  build_docker:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - setup_remote_docker:
          #version: 20.10.14
      - run:
          name: Build Docker Image
          command: |
            # Собираем образ (убедись, что Dockerfile в корне MLOPS/)
            docker build -t loan-prediction-api:latest .

workflows:
  version: 2
  test-and-build:
    jobs:
      - run_tests
      - build_docker:
          requires:
            - run_tests
