version: 2.1

jobs:
  test_model:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install --upgrade pip
            # Устанавливаем требования для API
            pip install -r Credit_Api/requirements.txt
            # Устанавливаем саму модель в режиме разработчика
            pip install -e classification_model/
            # Устанавливаем pytest, если его нет в requirements
            pip install pytest
      - run:
          name: Run tests
          command: |
            . venv/bin/activate
            # Проверяем, есть ли вообще тесты перед запуском
            if [ -d "classification_model/tests" ]; then
              pytest classification_model/tests
            else
              echo "Tests directory not found, skipping..."
            fi

workflows:
  test_all:
    jobs:
      - test_model
