version: 2.1

jobs:
  test_model:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            pip install --upgrade pip
            pip install -r Credit_Api/requirements.txt
            pip install -e classification_model/
      - run:
          name: Run tests
          command: |
            # Запускаем тесты, если они у тебя есть в папке модели
            pytest classification_model/tests

workflows:
  test_all:
    jobs:
      - test_model
